<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luckyowl.bigdata.mapper.mysql.PrecautionMapper">

    <insert id="sendPrecaution" parameterType="java.util.List">
        insert into precaution_notice (uid, precaution_type, precaution_level, msg, is_read)
        values
        <foreach collection="dataList" item="item" index="index" separator=",">
            (#{item.uid}, #{item.precaution_type}, #{item.precaution_level}, #{item.msg}, #{item.is_read})
        </foreach>
    </insert>

    <select id="getPrecautionByUid" parameterType="String" resultType="com.luckyowl.bigdata.entity.mysql.Precaution">
        select * from precaution_notice where uid = #{uid}
    </select>

</mapper>
